{
    "printWidth": 200,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": false,
    "useTabs": false,
    "arrowParens": "always"
}
